body {
  font-family: Sans-serif;
}

.links {
  font-size: 80%;
}

.links ul {
  margin: 0;
  padding: 0;
}

.links li {
  display: inline;
  list-style-type: none;
}

.links li+li:before {
  content: '| ';
}

.backgrid th {
  text-align: left;
}

.backgrid-filter.form-search {
  margin-left: auto;
  margin-right: auto;
}

.sidenote {
  text-align: right;
}

.backgrid td.image-cell {
  text-align: center;
}

.backgrid td.integer-cell {
  text-align: center;
}

.backgrid td.memrise-index-cell {
  text-align: center;
}

th.memrise_index {
  text-align: center;
  width: 40px;
}

th.glyph {
  text-align: center;
  width: 100px;
}

th.en {
  width: 80px;
}

th.node_count {
  text-align: center;
  width: 40px;
}

.contents {
  width: 600px;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-bottom: 60px;
}

h1 {
  font-size: 24px;
}

#table ul li {
  display: inline-block;
  list-style:none;
}

#table ul.sequence {
  margin: 0 auto 60px auto;
}

#table ul li .word {
  text-align: center;
  width: 96px;
}

#table ul li .string {
  font-size: 12px;
}


#table ul li img {
  width: 64px;
  height: 64px;
}

